extends layout

block content
    div#container
        div#top-bar
            div.logo
                i.fa.fa-user.fa-fw.fa-3x
            ul.top-menu
                li.Top-Menu-Active DASHBOARD
                li CALENDAR
                li 
                    p.MainTitle Family Portal
                li HRCoC
                li TBD
                
        div#side-menu
            ul.side-menu
                li.Side-Menu-Active
                    i.fa.fa-home.fa-2x
                li
                    i.fa.fa-commenting-o.fa-2x
                li
                    i.fa.fa-bell-o.fa-2x
                li.Divider
                    hr
                li
                    i.fa.fa-users.fa-2x
                li
                    i.fa.fa-wrench.fa-2x
                li
                    i.fa.fa-briefcase.fa-2x
                li
                    i.fa.fa-cogs.fa-2x
                li.Divider
                    hr
                li
                    i.fa.fa-sign-out.fa-2x
        div#Main-container
            div#content
                p test
